{% extends "template.html"%}
{% block conteudo %}
	<form method="post" action="{{url_for('criar')}}" class="row g-3">
		<fieldset>
		<div class="mb-3">
			<label >Marca</label>
			<input class="quebra espaco" type="text" name="f_marca" maxlength="20" size="30">
		</div>
		<div class="mb-3">
			<label class="espaco">Modelo</label>
			<input class="quebra espaco" type="text" name="f_modelo" maxlength="20" size="30">
		</div>
		<div class="mb-3">
			<label>Cor</label>
			<input  class="quebra espaco" type="text" name="f_cor" maxlength="20" size="30">
		</div>
		<div class="mb-3">
    		<label>Ano</label>
    		<input class="quebra espaco" type="text" name="f_ano" maxlength="20" size="30" >
		</div>
		<div class="mb-3">
			<label>Combustível</label>
    		<input class="quebra espaco" type="text" name="f_combu" maxlength="20" size="30">
		</div>



		<div class=" align-items-center " >
			<input  type="submit" class="btn btn-outline-primary" name="f_btn_enviar" value="Salvar">
		</div>
		</fieldset>
		</div>
	</form>

{% endblock %}